<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.minecraftserverstatus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/default_server_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/default_server_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinecraftServerStatus"
        tools:ignore="ExtraText"
        tools:targetApi="tiramisu">

        <!-- SplashActivity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- com.example.minecraftserverstatus.ui.com.example.minecraftserverstatus.ui.LoginActivity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
        </activity>


        <!-- AddServerActivity -->
        <activity
            android:name=".ui.AddServerActivity"
            android:exported="true"
            android:theme="@style/CustomDialogTheme" />

        <!-- ManageServersActivity -->
        <activity
            android:name=".ui.ManageServersActivity"
            android:exported="true"
            android:label="@string/title_activity_manage_servers" />

    </application>

</manifest>
